
body{
     margin:auto 0;
     display:grid;
     font-family: var(--ff-base);
     font-size: var(--fs-base);
     font-weight: var(--fw-normal);
     background-color: var(--clr-VeryLightGray);
   }
   
   

   header{
    width: auto;
     display: grid;
     justify-content: center;
     place-content: center;
     text-align: center;
     margin-top: 10px;
     margin-bottom: 20px;
     padding: 20px;
   }
   

   .main-paragraph{
    line-height: 1.5rem;
    width: 450px;
    color:hsl(234, 12%, 34%);
    font-family: "Poppins", sans-serif;
   }
   
   
   .wraper{
      display:flex;
     justify-content: center;
     place-items: center;
     gap: 1rem;
     margin: 1rem;
   }
   
   .flex{
     display: grid;
     gap: 1rem;
   }
   
   .feature{
     display:grid;  
     width: 350px;
     height: 250px;
     padding: 2rem;
     box-shadow: 0px 6px 15px 7px rgba(76,78,97,0.1);
     border-radius: 0.5rem;
     font-size: var(--fs-small);  
   }
   
   .icon{
    justify-self: right;
    gap: 2rem;
   }
   
   .feature-supervisor{
    background-color: hsl(0, 0%, 100%);
     border-top: 4px solid rgb(175, 175, 252);
   }
    
   
   .feature-team-build{
     border-top: 4px solid red;
     background-color: hsl(0, 0%, 100%);
   }
   
   .feature-karma{
     border-top: 4px solid orange;
     background-color: hsl(0, 0%, 100%);
   }
   
   .feature-calculator{
     border-top: 4px solid blue;
     background-color: hsl(0, 0%, 100%);
   }
   
    h1{
      /* margin: 0; */
      font-weight:500 px;
      color:hsl(234, 12%, 34%);
    }
   
    h2{

      font-weight: normal;
      font-size: 1.5em;
      color:hsl(234, 12%, 34%);
      font-family: "Poppins", sans-serif;
    }

   .feature h3{
     margin-bottom: 1rem;
   }
   

   .attribution{
    text-align: center;

   }



  